<div class="container main-container">
  <h4>Demo Cadastro</h4>
  <hr />
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]='cadastroForm' #formDir='ngForm'>
      <div class="form-horizontal">

          <div class="form-group">
              <label class="col-md-2 control-label" for="nome">Nome Completo</label>
              <div class="col-md-10">
                  <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid' : nome.invalid && formDir.submitted}"/>
                  <span class="text-danger" *ngIf="nome.invalid && formDir.submitted">
                    <p *ngIf="nome.errors?.['required']">O nome é obrigatório</p>
                  </span>
              </div>
         </div>

          <div class="form-group">
            <label class="col-md-2 control-label">CPF</label>
            <div class="col-md-10">
                <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" [ngClass]="{'is-invalid' : cpf.invalid && formDir.submitted}" />
                <span class="text-danger" *ngIf="cpf.invalid && formDir.submitted">
                  <p *ngIf="cpf.errors?.['required']">O CPF é obrigatório.</p>
                </span>
              </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail</label>
            <div class="col-md-10">
                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)"  formControlName="email" [ngClass]="{'is-invalid' : email.invalid && formDir.submitted}"/>
                <span class="text-danger" *ngIf="email.invalid && formDir.submitted">
                  <p *ngIf="email.errors?.['required']">O e-mail é obrigatório.</p>
                  <p *ngIf="email.errors?.['email']">Informe um e-mail válido.</p>
                </span>
              </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" [ngClass]="{'is-invalid' : senha.invalid && formDir.submitted}"/>
                <span class="text-danger" *ngIf="email.invalid && formDir.submitted">
                  <p *ngIf="senha.errors?.['required']">A senha é obrigatório.</p>
                  <p *ngIf="senha.errors?.['minlength']">Senha deve ter no mínimo 6 caracters.</p>
                  <p *ngIf="senha.errors?.['maxlength']">Senha deve ter no máximo 12 caracters.</p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Confirme a Senha</label>
            <div class="col-md-10">
                <input class="form-control" id="senhaConfirmacao" type="password" placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao" [ngClass]="{'is-invalid' : senhaConfirmacao.invalid && formDir.submitted}"/>
                <span class="text-danger" *ngIf="email.invalid && formDir.submitted">
                  <p *ngIf="senhaConfirmacao.errors?.['required']">A senha é obrigatório.</p>
                </span>
                <span class="text-danger" *ngIf="email.invalid && formDir.submitted">
                  <p *ngIf="senhaConfirmacao.errors?.['minlength']">Senha deve ter no mínimo 6 caracters.</p>
                </span>
                <span class="text-danger" *ngIf="email.invalid && formDir.submitted">
                  <p *ngIf="senhaConfirmacao.errors?.['maxlength']">Senha deve ter no máximo 12 caracters.</p>
                </span>
              </div>
        </div>

          <div class="form-group">
              <div class="col-md-4 col-md-offset-2">
                  <span><button class="btn btn-success" id="Registrar" type="submit"  >Registrar</button></span>
                  <button type="button" (click)="onReset()" class="btn btn-warning float-right">Reset</button>
                </div>
          </div>

          <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <p>Formulario: {{ formResult }}</p>
            </div>
        </div>
         
      </div>
  </form>
</div>
