<div class="container main-container">
    <h2>Bar</h2>
    
    <div>
      Unidade Manual : {{ configManual.unidadeId }} - Token Manual =>  {{ configManual.unidadeToken }}
    </div>

      <div>
        Unidade : {{ config.unidadeId }} - Token =>  {{ config.unidadeToken }}
      </div>
      
      <div>
        Bebidas 1 : {{ barBebidas1}}
    </div>

     
    <div>
      Dados Unidade (service) : {{ dadosUnidade }}
  </div>

  <div>
    Bebidas 2 : {{ barBebidas2 }}
</div>
    

   
</div>